@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Nunito";
    font-size: round(nearest, calc((min(95vw, 60vh) - (3 * min(1vw, 1vh))) / 19.2), 1px);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Nunito";
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}
* {
    box-sizing: inherit;
    --usual: 12px;/*
    --backc: #18151A;
    --navc: #241F26;*/
    --bc: #16161d;
    --gc: #24242B;
    --vgc: #88888E;
    --gtc: #24242b20;
    --gtca: #56565D20;
    --wc: #ECECF1;
    --wca: rgba(236, 236, 241, 0.15);
    --ac: #94B1FF;
    font-family: "Nunito";
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bc);
    z-index: -205;
}
.grain {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat:repeat;
    background: url('sourse/noise.gif');
    opacity: 0.04;
    pointer-events: none;
    z-index: -172;
}
.flips{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.flips.fl-1 {
    justify-content: space-between;
    align-items: center;
}
.flips.fl-2 {
    align-items: center;
}
.flips.fl-3 {
    align-items: center;
}
.flips.fl-4 {
    align-items: center;
}
.nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gc);
    gap: 1rem;
    width: 100%;
    height: 6vh;
    user-select: none;
}
.avat-circle {
    height: 100%;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
}
.avat-square {
    height: 100%;
    border-radius: var(--usual);
    user-select: none;
    pointer-events: none;
}
.tokim {
    height: 1.4rem;
}
.nam-holder {
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.nam {
    font-weight: 700;
    color: var(--wc);
}
.tokval {
    font-weight: 700;
    color: var(--ac)
}
/* .vl {
    width: 0px;
    height: 100%;
    border-width: 1px;
    border-color: var(--ac);
    border-style: solid;
} */
.nav2-but {
    cursor: pointer;
    height: 100%;
    width: 22%;
    max-width: 104px;
    border: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: var(--wc);
    text-decoration: none;
    transform-origin: center;
    user-select: none;
}
.nav2-but img {
    height: 3.75vh;
    pointer-events: none;
}
/* .nav2-img {
display: inline;
margin: 0 auto;
height: 56%;
width: auto;
} */
.panel {
    background-color: var(--wc);
    color: var(--bc);
    border-radius: var(--usual);
    display: flex;
    align-items: center;
    grid-column: span 2;
    grid-row: span 2;
    padding-left: 1%;
    padding-right: 1%;
    font-family: "Nunito";
    text-wrap: pretty;
    transition: background-color 0.3s ease;
}
.chp {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--ac);
    border-width: 7px;
    border-radius: var(--usual);
    color: var(--ac);
    background-color: transparent;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    font-family: "Nunito";
    font-weight: bolder;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    -webkit-user-select: none;
}
.backger {
    background-color: var(--ac);
    pointer-events: none;
}
.kebfr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: min(1vw, 1vh);
    width: min(95vw, 60vh);
}
.keb {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: var(--usual);
	background-color: var(--gtc);
    color: var(--wc);
    position: relative;
    aspect-ratio: 1;
    cursor: pointer;
    font-weight: bold;
    font-family: "Nunito";
    font-size: 1rem;
    transition: background-color 0.3s ease;
    word-wrap: break-word;
    overflow: hidden;
    user-select: none;
}
@media(any-hover: hover){
   .keb:hover {
    background-color: var(--gtca);
} 
}
.keb-active {
    background-color: var(--wca);
}
blurer {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}
.paint, .nav-paint {
    transform: translateZ(0);
    will-change: transform, opacity;
    z-index: -3;
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    animation: fadeIn ease-in .25s;
    overflow: hidden;
    background-image: radial-gradient(var(--ac), var(--gc));
    height: 150%;
    aspect-ratio: 1;
    top: 50%;
}
.signa {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--usual);
    image-rendering: pixelated;
    overflow: hidden;
    position: relative;
    user-select: none;
    pointer-events: none;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
}
.basic-wrap {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 4vh;
    height: 85%;
    width: 90%;
    max-width: 555px;
    overflow-y: auto;
}
.bf {
    align-items: center;
}
.inv {
    margin-top: 4vh;
    width: 75%;
    max-width: 530px;
    color: var(--bc);
    background-color: var(--ac);
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
}
.inv:active {
    background-color: transparent;
    color: var(--ac);
    user-select: none;
}
.frn {
    font-size: 0.8rem;
    height: 7vh;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 1rem;
}
.tsk {
    font-size: 0.8rem;
    height: 8vh;
    flex-shrink: 0;
    flex-grow: 0;
    display: grid;
    grid-template-columns: min-content auto 22% 7%;
    word-break: break-all;
    text-decoration: none;
}
.lvl {
    font-size: 1.5rem;
    font-weight: 550;
    color: var(--ac);
    opacity: 20%;
    background-color: transparent;
    border: 0px;
}
.timest {
    color: var(--vgc);
    line-height: 1;
}
.comb {
    height: auto;
    word-break: keep-all;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    line-height: 1;
    margin-bottom: 0.2rem;
}
.chunk {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4rem;
    color: var(--vgc);
    border-bottom: solid 1px var(--vgc);
    gap: 1vh;
}
.pas {
    margin-right: 1%;
    width: 25%;
    border: none;
    outline: none;
    border-radius: var(--usual);
    background-color: var(--gc);
}
.bottom-nav {
    z-index: 99999999;
    position: absolute;
    bottom: 0px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--gtc);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gtca);
  border-radius: 100px;
}
.invis {
    display: none;
    position: absolute;
    z-index: -99999;
}
